.nav {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 30px 25px;
  height: 60px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .25);
  z-index: 1;

  &--dark {
    background-color: #21222A;
  }

  &__icon {
    width: 30px;
    margin-right: 10px;
  }

  &__title {
    color: #61DAFB;
    margin-right: auto;
  }
}